steps:
- name: 'gcr.io/cloud-builders/gcloud'
  entrypoint: /bin/sh
  id: Deploy to Anthos cluster
  args:
  - '-c'
  - |
    set -x && \
    export KUBECONFIG="$(pwd)/gateway-kubeconfig" && \
    gcloud container hub memberships get-credentials aws-cluster-0 && \
    kubectl --kubeconfig gateway-kubeconfig app -f myapp.yaml

